:root {
    --color-primario: #e7e4e4;
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    background-color: var(--color-primario);
    text-align: center;
    
}
header img {
    border-radius: 100%;
    max-width: 60%;
    display: block;

}

header div{
    grid-column: 2 / span 2;
    max-width: 30%;
    justify-self:  end;
    
}


nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-bottom: 0.63em;
    padding: 1rem;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    margin-bottom: 1.25em;
    padding: 1.25em;
}


footer {
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer img {
    border: 0;
    width: auto;
    height: auto;
}
footer p {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
               
    }
    header nav{
        overflow: auto;
    }
    
    
    header div{
        grid-column: 1 / span 1;
        max-width: 10%;
        justify-self:  center;
    }
    
    #a {
        display: none;
    }
}