:root {
    --color-primario: #e7e4e4;
    --color-primario-hover:#dddddd;
}

body {
    display: grid;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    font-size: 24px;    
    text-align: center;
}
h2 {
    font-size: 20px;    
}
h3 {
    font-size: 16px;    
}

header {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    background-color: var(--color-primario);
    text-align: center;
    
}
header img {
    border-radius: 100%;
    max-width: 50%;
    display: block;

}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 16px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav a:hover{
    cursor: pointer;
    background-color: var(--color-primario-hover);
}

.contenedor-buscador{
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.2rem;
    justify-self: end;
    position: relative;

}

.contenedor-buscador button{
    border: none;
}
button:hover {
    cursor: pointer;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    margin-bottom: 1.25em;
    padding: 1.25em;
}


footer {
    display: flex;
    align-content: center;
    background-color: var(--color-primario);
    color: black;
    justify-content: space-evenly;
    padding: 1em;
}
footer a {
    text-decoration: none;
    color: black;
}
footer img {
    border: 0;
    width: auto;
    height: auto;
}
footer p {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        overflow: auto;

               
    }

    
    
    header div{
        grid-column: 1 / span 1;
        max-width: 10%;
        justify-self:  center;
    }
    
    header > a {
        display: none;
    }
}